<%- include("partials/header.ejs") %>
<div class="container">
    <div class="d-flex vh-100 justify-content-center align-items-center">
        <h1 class="">Article is successfully deleted!!</h1>
    </div>
</div>

<%- include("partials/footer.ejs") %>